#notice-normal-modal{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
    background-color : rgba(0,0,0,0.4);
    font-family: 'Spoqa Han Sans Neo';
}


.notice-card{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 900px;
    height: 870px;
    transform: translate(-50%, -50%);

    border-radius: 15px;
    border: 3px solid rgba(24, 160, 251, 1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(232, 241, 255, 1);
    border-radius: 30px;    
}

.notice-common-content-box {
    margin-bottom: 80px;

    width: 770px;
    height: 570px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    background-color: rgba(255, 255, 255, 1);
}

.notice-common-contents-left-box {
    width: 755px;
    height: 570px;

    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 1);
}